---
import PageLayout from '@layouts/PageLayout.astro'
import type { CollectionEntry } from 'astro:content'

type Props = {
  frontmatter: CollectionEntry<'blog'>['data']
}

const { frontmatter } = Astro.props
---

<PageLayout title={frontmatter.title} activeTab='Blog'>
  <h1>{frontmatter.title}</h1>
  <p>{frontmatter.pubDate.toDateString()}</p>
  <slot />
</PageLayout>
