@import 'terminal.css';

.container.root {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  margin-top: 30px;
  margin-bottom: 30px;
}

main {
  flex: 1;
}

.astro-code {
  background-color: var(--background-color) !important;
}