@import 'terminal.css';

/* IBM Plex Sans JP (Regular, SemiBold) */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP:wght@400;600&display=swap');

/* Monaspace Neon (Light, Regular, SemiBold) */
@font-face {
  font-family: 'Monaspace Neon';
  src: url('/fonts/MonaspaceNeon-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monaspace Neon';
  src: url('/fonts/MonaspaceNeon-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monaspace Neon';
  src: url('/fonts/MonaspaceNeon-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-stack: 'Monaspace Neon', 'IBM Plex Sans JP', sans-serif;
  --mono-font-stack: 'Monaspace Neon', monospace;
}


.container.root {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  margin-top: 30px;
  margin-bottom: 30px;
}

main {
  flex: 1;
}

.astro-code {
  background-color: var(--background-color) !important;
}

code {
  font-weight: 300;
}